@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  width: 1200px;
  display: flex;
  justify-content: start;
  margin: 0 auto;
}

.page-header-logo-link {
  margin-left: 70px;
  margin-right: 44px;
}

.page-header-logo-link img {
  display: block;
}

.navigation-list {
  width: 339px;
  margin: 0;
  margin-right: auto;
}

.navigation-user {
  margin: 0;
  margin-right: 70px;
  width: 268px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-button-hotels-search {
  padding: 8px 28px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Main index */
.main-containter {
  flex-grow: 1;
}

.main-index {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.background-index {
  background-image: url("../images/background-preview.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(11, 107, 136, 0.726);
  text-align: center;
  padding: 50px 371px 79px;
}

.reason-items {
  width: 650px;
  margin: auto;
  padding: 28px 275px;
  padding-bottom: 27px;
  text-align: center;
}


.reason-item-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.reason-item-subtitle {
  text-transform: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.advantages-items-list {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.advantages-items-list img {
  display: block;
}

.advantages-item-real-city {
  display: flex;
}

.advantages-real-city {
  width: 400px;
  margin: 0 auto;
  padding: 85px 102px;
  text-align: center;
}

.advantages-item-real-city, .advantages-item-bridge-devil {
  background-color: #82B3D3;
}

.advantages-list-cards {
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  margin: auto;
}

.advantages-list-cards .advantages-item-list {
  width: 400px;
  margin: auto;
  padding: 85px 102px;
  text-align: center;
}

.advantages-card-beautiful-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-item-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.advantages-list-cards .advantages-item-list .advantages-item-title {
  color: #000000;
}

.advantages-list-cards .advantages-item-list .advantages-item-subtitle {
  color: #000000;
}

.advantages-item-bridge-devil {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-birdge-devil {
  width: 400px;
  margin: 0 auto;
  padding: 85px 102px;
  text-align: center;
}

.holiday-items {
  width: 504px;
  margin: 0;
  padding: 33px 348px;
  text-align: center;
}

.holiday-item-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.holiday-item-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
}

.more-reason-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.more-reason-items-list {
  display: flex;
}

.more-reason-item-list {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  margin: 0;
  padding: 85px 81px;
  text-align: center;
}

.more-reason-item-food {
  background: none;
}

.search-hotels {
  width: 592px;
  margin: auto;
  padding: 105px 304px;
  padding-bottom: 106px;
  text-align: center;
}

.search-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotels-subtitle {
  font-size: 22px;
  line-height: 26px;
}

.search-hotels-button {
  padding: 8px 61px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

.subscribe {
  background-image: url("../images/background-subscribe.jpg");
  background-size: cover;
  background-color: rgba(11, 107, 136, 0.726);
  text-align: center;
  padding: 73px 258px 73px 258px;
}

.subscribe-title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-subtitle {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form input {
  width: 452px;
  height: 52px;
}

.subscribe-button {
  padding: 16px 54px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* Main index */

.page-footer {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
}

.contacts-social-list {
  width: 142px;
  display: flex;
  margin: 0;
  margin-left: 70px;
}

.contacts-phone {
  width: 331px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  margin: 0;
}

.contacts-logo-link {
  width: 115px;
  margin: 0;
  margin-right: 70px;
}

/* Main catalog */

.main-catalog {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.hotels-sedona {
  width: 1200px;
  /* height: 412px; */
  background-image: url("../images/background-catalog.jpg");
  background-size: cover;
  background-color: rgba(11, 107, 136, 0.726);
  position: relative;
  color: #FFFFFF;
  margin: 0 auto;
}

.hotels-sedona-container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-sedona-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.hotels-sedona-filter {
  display: flex;
  width: 1060px;
}

.hotels-sedona-filter-infrastructure, .hotels-sedona-filter-type-house{
  width: 150px;
}

.hotels-sedona-filter-type-price {
  width: 288px;
}

.hotels-sedona-filter-button-container {
 width: 191px;
}

.hotels-sedona-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotels-sedona-subtitle {
  line-height: 23px;
}

.control-input {
  font-weight: 700;
  line-height: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

.hotels-sedona-filter-button {
  padding: 8px 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}

.hotels-sedona-filter-button:last-child {
  padding: 8px 50px;
  background: transparent;
}

.hotels-find {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.hotels-find-sorting {
  width: 1060px;
  margin: auto;
}

.hotels-find-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color: #333333;
  cursor: pointer;
}

.hotels-card {
  width: 1060px;
  margin: 0 auto;
}

.hotels-card-title-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.hotels-card-subtitle, .hotels-card-price {
  color: #333333;
}

.hotels-card-link {
  padding: 8px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
}

.hotels-sedona-card-button {
  padding: 8px 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hotels-sedona-card-button-current {
  background-color: #7DB54F;
}

.rating-value {
  padding: 9px 23px;
  color: #333333;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  background-color: #F2F2F2;
  border-radius: 4px;
}

/* Cтилизовать пагинацию */

/* Cтилизовать пагинацию */
/* Main catalog */
