@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  background-color: #F2F2F2;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

.img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.page-container {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

/* Header */

.page-header {
  width: 1060px;
  margin: 0 auto;
  min-height: 64px;
  position: relative;
}

.header-logo {
  position: absolute;
  left: 0;
  top: 0;
}

.catalog-logo:hover,
.catalog-logo:focus {
  opacity: 60%;
}

.catalog-logo:active {
  opacity: 30%;
}

.catalo-logo:disabled {
  opacity: 10%;
}


.logo-picture {
  display: block;
}

.navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 892px;
  min-height: 64px;
  margin-left: 168px;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-item {
  position: relative;
}

.navigation-user {
  text-decoration: none;
  justify-content: flex-end;
}

.navigation-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding: 20px 16px;
  display: block;
}

.current-link::before {
  position: absolute;
  content: "";
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background: #756257;
}

.navigation-link:not(.current-link):hover,
.navigation-link:not(.current-link):focus {
  background-color: #f2f2f2;
}

.navigation-link:not(.current-link):active {
  opacity: 60%;
}

.navigation-link-user {
  text-decoration: none;
  position: relative;
  min-height: 64px;
  width: 44px;
  height: 64px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-icon {
  background-image: url('../images/search.svg');
  display: block;
}

.favourite-icon {
  background-image: url('../images/favorite.svg');
  display: block;
}

.navigation-link-user:hover,
.navigation-link-user:focus {
  background-color: #f2f2f2;
}

.navigation-link-user:active {
  opacity: 60%;
}


.favourite-number {
  position: absolute;
  left: 20px;
  top: 11px;
  padding: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
  max-width: 50px;
}

.navigation-button {
  background: #756157;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 8px 34.5px;
  border-radius: 4px;
  display: block;
  max-width: 300px;
  margin-left: 20px;
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: #615048;
}

.navigation-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button:disabled {
  background-color: #e5e5e5;
}

/* Header */

/* Main */
.main-page {
  flex-grow: 1;
}

.main-index {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.background-index {
  background-image: url("../images/background-preview.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(11, 107, 136, 0.726);
  text-align: center;
  padding: 50px 371px 79px;
}

.reason-items {
  margin: auto;
  margin-bottom: 21px;
  padding: 69px 274px;
  text-align: center;
}


.reason-item-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.reason-item-subtitle {
  text-transform: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

.advantages-items-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 385px);
  text-align: center;
}

.advantages-item-list {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-items-list span {
  display: block;
}

.advantages-beautiful-road-list {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list-real-city,
.advantages-list-bridge-devil {
  display: grid;
  grid-column: 1 / -1;
  background-color: rgba(130, 179, 211, 1);
  color: white;
}

.advantages-item-img {
  grid-column-start: 2;
  grid-column-end: 4;
}

.advantages-list-bridge-devil .advantages-item-img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.advantages-list-bridge-devil .advantages-items-text-сontainer {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.advantages-items-text-сontainer {
  padding: 90px 85px;
}

.advantages-small-square-list,
.advantages-beautiful-road-list,
.advantages-small-tourists-list {
  padding: 112px 85px;
}

.advantages-item-title,
.advantages-item-subtitle {
  margin: 0;
}

.advantages-item-title {
  margin-bottom: 62px;
  text-transform: uppercase;
}

.holiday-items {
  margin: 0 auto;
  padding: 64px 348px;
  text-align: center;
}

.holiday-item-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.holiday-item-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  margin: 0;
}

.more-reason-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.more-reason-item-subtitle {
  margin: 0;
}

.more-reason-items-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 385px);
  margin: 0;
}

.more-reason-item-list {
  background-color: rgba(131, 179, 211, 0.12);
  box-sizing: border-box;
  margin: 0;
  padding: 81px 85px;
  text-align: center;
}

.more-reason-item-list span {
  display: block;
}


.more-reason-item-food {
  background: none;
}

.search-hotels {
  padding: 96px 304px;
  text-align: center;
}

.search-hotels-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search-hotels-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.search-hotels-subtitle span {
  display: block;
}

.search-hotels-button {
  padding: 8px 50px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  background-image: url("../images/background-subscribe.jpg");
  background-size: cover;
  background-color: rgba(11, 107, 136, 0.726);
  text-align: center;
  padding: 97px 258px 104px 258px;
}

.subscribe-title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-subtitle {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form input {
  width: 452px;
  height: 52px;
  border: none;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  border-radius: 4px 0 0 4px;
}

.subscribe-form input:focus {
  outline: none;
}

.subscribe-button {
  padding: 8px 27px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 36px;
}

/* Main */

/* Footer */
.page-footer {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 40px 70px 30px 70px;
  box-sizing: border-box;
}

.social-item {
  min-width: 48px;
  min-height: 40px;
}

.social-item-vk {
  mask: url('../images/vk-icon.svg');
  -webkit-mask: url('../images/vk-icon.svg');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  display: block;
  background: #83B3D3;
}

.social-item-vk:hover {
  background: #68A2CA;
}
.social-item-vk:focus {
  background: #68A2CA;
}
.social-item-vk:active {
  background: rgba(104, 162, 202, 0.3);
}

.social-item-telegram {
  mask: url('../images/telegram-icon.svg');
  -webkit-mask: url('../images/telegram-icon.svg');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  display: block;
  background: #83B3D3;
}

.social-item-telegram:hover {
  background: #68A2CA;
}
.social-item-telegram:focus {
  background: #68A2CA;
}
.social-item-telegram:active {
  background: rgba(104, 162, 202, 0.3);
}

.social-item-youtube {
  mask: url('../images/youtube-icon.svg');
  -webkit-mask: url('../images/youtube-icon.svg');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  display: block;
  background: #83B3D3;
}

.social-item-youtube:hover {
  background: #68A2CA;
}
.social-item-youtube:focus {
  background: #68A2CA;
}
.social-item-youtube:active {
  background: rgba(104, 162, 202, 0.3);
}

.social-item-link {
  display: block;
  width: 100%;
  height: 100%;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}


.contacts-social-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.contacts-logo-link {
  mask: url('../images/htmlacademy-logo.svg');
  -webkit-mask: url('../images/htmlacademy-logo.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  display: block;
  background-color: rgba(0, 0, 0, 1);
  width: 115px;
  height: 33px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.contacts-logo-link:hover {
  background: #756157;
}

.contacts-logo-link:focus {
  background: #756157;
}

.contacts-logo-link:active {
  background: rgba(117, 97, 87, 0.3);
}
/* Footer */

/* Main catalog */

.main-catalog {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.hotels-sedona {
  background-image: url("../images/background-catalog.jpg");
  background-size: cover;
  background-color: rgba(11, 107, 136, 0.726);
  position: relative;
  color: #FFFFFF;
  margin: 0;
  padding: 50px 70px 84px 70px;
}

.hotels-sedona-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-sedona-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.hotels-sedona-filter {
  display: flex;
  width: 1060px;
}

.hotels-sedona-filter-infrastructure, .hotels-sedona-filter-type-house{
  width: 150px;
}

.hotels-sedona-filter-type-price {
  width: 288px;
}

.hotels-sedona-filter-button-container {
 width: 191px;
}

.hotels-sedona-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotels-sedona-subtitle {
  line-height: 23px;
}

.control-input {
  font-weight: 700;
  line-height: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

.hotels-sedona-filter-button {
  padding: 8px 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}

.hotels-sedona-filter-button:last-child {
  padding: 8px 50px;
  background: transparent;
}

.hotels-find {
  padding: 50px 70px 60px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.hotels-find-sorting {
  display: flex;
  justify-content: space-between;
}

.hotels-find-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color: #333333;
  cursor: pointer;
}

.hotels-find-list {
  display: flex;
  flex-wrap: 1;
  margin: 0;
  padding: 0;
}

.hotels-find-list-item {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 8px;
}

.hotels-find-list-item:hover {
  border: 2px solid #000000;
}

.hotels-find-list-item:focus {
  border: 2px solid #68A2CA;
}

.hotels-find-list-item:active {
  border: 2px solid #000000;
}

.hotels-find-list-item:last-child {
  margin-right: 0;
}

.hotels-find-list-current {
  border: 2px solid #000000;
}

.hotels-find-link-tiles {
  background-image: url('../images/catalog-direction/catalog-direction-icon-1.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  display: block;
  padding: 17px 16px;
}

.hotels-find-link-full {
  background-image: url('../images/catalog-direction/catalog-direction-icon-2.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  display: block;
  padding: 17px 16px;
}

.hotels-find-link-list {
  background-image: url('../images/catalog-direction/catalog-direction-icon-3.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  display: block;
  padding: 17px 16px;
}

.hotels-card {
  width: 1060px;
  margin: 0 auto;
}

.hotels-card-title-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.hotels-card-subtitle, .hotels-card-price {
  color: #333333;
}

.hotels-card-link {
  padding: 8px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
}

.hotels-sedona-card-button {
  padding: 8px 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hotels-sedona-card-button-current {
  background-color: #7DB54F;
}

.rating-value {
  padding: 9px 23px;
  color: #333333;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  background-color: #F2F2F2;
  border-radius: 4px;
}

/* Пагинация */

.pagination-block {
  margin-bottom: 61px;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-list {
  min-width: 60px;
  text-align: center;
}

.pagination-link {
  text-decoration: none;
  background: #82b3d3;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  display: block;
  padding: 12px 10px;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  padding: 12px 10px;
  min-width: 60px;
  text-align: center;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-next {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  padding: 12px 10px;
  min-width: 60px;
  text-align: center;
}

.pagination-link-next:hover,
.pagination-link-next:focus {
  background-color: #68a2ca;
}

.pagination-link-next:active {
  color: #000000;
  background-color: #e6e6e6;
}

/* Пагинация */
/* Main catalog */
