@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-button-hotels-search {
  width: 160px;
  height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Main index */

.background-index {
  width: 1200px;
  height: 485px;
  background-image: url("../images/background-preview.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.background-index-img:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-index-img:last-child {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.reason-item {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.reason-item:last-child {
  text-transform: none;
  font-size: 22px;
  line-height: 26px
}

.advantages-item-list {
  background-color: #82B3D3;
}

.advantages-item-list:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-list:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-list:nth-child(3) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-list:nth-child(2) .advantages-item-title {
  color: #000000;
}

.advantages-item-list:nth-child(3) .advantages-item-title {
  color: #000000;
}

.advantages-item-list:nth-child(4) .advantages-item-title {
  color: #000000;
}


.advantages-item-list:nth-child(1) .advantages-item-subtitle {
  color: #FFFFFF;
}

.advantages-item-list:nth-child(5) .advantages-item-subtitle {
  color: #FFFFFF;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.holiday-item {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.holiday-item:last-child {
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
}

.more-reason-item-list {
  background-color: rgba(131, 179, 211, 0.12);
}

.more-reason-item-list:nth-child(2) {
  background: none;
}

.more-reason-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.search-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotels-subtitle {
  font-size: 22px;
  line-height: 26px;
}

.search-hotels-button {
  width: 376px;
  height: 52px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Main index */

.subscribe {
  width: 1200px;
  height: 414px;
  background-image: url("../images/background-subscribe.jpg");
  background-size: cover;
  position: relative;
}

.subscribe-items {
  width: 684px;
  height: 214px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subscribe-title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-subtitle {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form input {
  width: 452px;
  height: 52px;
}

.subscribe-button {
  width: 232px;
  height: 52px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

/* Main catalog */

.hotels-sedona {
  width: 1200px;
  /* height: 412px; */
  background-image: url("../images/background-catalog.jpg");
  background-size: cover;
  position: relative;
  color: #FFFFFF;
}

.hotels-sedona-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.hotels-sedona-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotels-sedona-subtitle {
  line-height: 23px;
}

.control-input {
  font-weight: 700;
  line-height: 24px;
}

.hotels-sedona-filter-button {
  width: 191px;
  height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}

.hotels-sedona-filter-button:last-child {
  background: transparent;
}

.hotels-find-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color: #333333;
  cursor: pointer;
}

.hotels-card-title-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.hotels-card-subtitle, .hotels-card-price {
  color: #333333;
}

.hotels-card-link {
  width: 88px;
  height: 20px;
  padding: 8px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
}

.hotels-sedona-card-button {
  width: 140px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.rating-value-items {
  width: 140px;
  height: 37px;
  background-color: #F2F2F2;
  border-radius: 4px;
  display: flex;
}

.rating-value {
  color: #333333;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

.pagination-item {
  background-color: #82B3D3;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  display: flex;
}

.pagination-item:first-child {
  background-color: #F2F2F2;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  margin: auto;
}

.pagination-current {
  color: #000000;
}

/* Main catalog */
